.styl_brnch_list {
    position: relative;
    list-style: none;
    padding-inline-start: 0px;
    padding-left: 41px;
}

.styl_brnch_tail {
    text-align: center;
    padding-bottom: 17px;
}

.styl_brnch_cntnr {
    display: block;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    top: 3px;
    left: 3px;
    right: 3px;
    margin-bottom: 17px;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_brnch_bmp_top {
    font-family: calibri;
    display: none;
}

.styl_brnch_nmtg {
    font-size: 47px;
}

.styl_brnch_nmtg_name {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.styl_brnch_trstlbrd {
    position: relative;
    display: none;
    left: 23px;
    margin-top: 7px;
    margin-right: 37px;
    padding-right: 17px;
    padding-inline-start: 0px;
    width: 97%;
}

.styl_brnch_trstlbrd_close {
    display: none;
}

.styl_brnch_trstlbrd_open {
    border: 1px solid black;
    border-radius: 5px;
}

.styl_brnch_bmp_btm {
    display: none;
    font-family: calibri;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 43px;
}

.styl_brnch_pntr {
    display: inline-block;
    font-family: calibri;
}

.styl_brnch_pntr:--shvl_s00 {
    rotate: 0deg;
    display: inline-block;
    font-family: calibri;
}

.styl_brnch_pntr:--shvl_s01 {
    rotate: 45deg;
    display: inline-block;
    font-family: calibri;
}

.styl_brnch_pntr:--shvl_s02 {
    rotate: 0deg;
    display: inline-block;
    font-family: calibri;
}

.branch_title {
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
}

.styl_b_explst_lst_shm {
    font-size: 37px;
}

.styl_b_explst_cntnr {
    padding-left: 29px;
}

.styl_b_explst_bmp_top {
    font-size: 37px;
    padding-bottom: 7px;
}

.styl_b_explst_bmp_cycl {
    font-size: 37px;
    padding-top: 71px;
}

.styl_b_explst_lst_items {
    position: relative;
    padding-left: 67px;
    font-size: 23px;
}

.styl_b_explst_entr_term {
    font-family: cambria;
    font-weight: bold;
    display: inline-block;
}

.branch_head {
    display: block;
    font-size: 43px;
}
