.branch_container {
    margin-bottom: 17px;
    display: table;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    left: 3px;
    top: 3px;
    position: relative;
}

.headboard {
    margin-bottom: 17px;
    display: table;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    left: 3px;
    top: 3px;
    position: relative;
}

.hd_neck {
    display: flex;
}

.hd_nk_lf {
    
}

.hd_nk_rg {
    flex-grow: 100;
}

.hd_view {
    margin: auto;
    border: 3px solid black;
    height: 37px;
    width: 37px;
    position: relative;
    top: 50%;
}

.styl_head_seal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}

.styl_head_ttle {
    text-align: center;
    font-family: VPCS;
    font-size: 53px;
}

.styl_head_lsid {
    font-size: 43px;
}

.hd_tail {
    text-align: center;
    padding-bottom: 23px;
    clear: left;
}
