.branch_container {
    margin-bottom: 17px;
    display: table;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    left: 3px;
    top: 3px;
    position: relative;
}

.headboard {
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    left: 3px;
    top: 3px;
    position: relative;
}

.hd_neck {
    display: flex;
    flex-wrap: wrap;
}

.hd_nk_lf {
    
}

.hd_nk_rg {
    flex-grow: 100;
}

.hd_view {
    margin: auto;
    border: 2px solid black;
    height: 173px;
    width: 311px;
    position: relative;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.styl_head_seal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}

.hd_name {
    text-align: center;
}

.hd_ttl {
    text-align: center;
    font-family: VPCS;
    font-size: 73px;
    font-weight: bold;
}

.hd_ttl_arrw {
    text-align: center;
    font-family: Calibri;
    font-size: 73px;
}

.styl_head_lsid {
    font-size: 43px;
}

.hd_vw_b {
    margin-left: 11px;
}

.hd_vw_b_1 {
    font-family: sitka;
    font-size: 23px;
    font-style: italic;
    display: inline;
}

.hd_vw_b_2 {
    border: 1px solid black;
    display: inline-flex;
}

.hd_vw_c {
    margin-left: 11px;
}

.hd_vw_c_1 {
    font-family: sitka;
    font-size: 23px;
    font-style: italic;
}

.hd_tail {
    text-align: center;
    padding-bottom: 23px;
    clear: left;
}
