.styl_insc_scns {
    left: 31px;
    position: relative;
}

.styl_insc_dfin_cntn {
    font-style: italic;
    font-family: sitka;
}

.styl_insc_txt_undr {
    text-decoration: underline;
    display: inline-block;
}

.styl_insc_txt_trm_grg {
    font-weight: bold;
    font-family: georgia;
}

.styl_insc_txt_trm_stkbld {
    font-weight: bold;
    font-family: sitka;
}

.styl_insc_txt_trm_stkitc_19 {
    font-style: italic;
    font-family: sitka;
    font-size: 19px;
}

.styl_insc_txt_xtroff_131 {
    position: relative;
    margin-left: 131px;
}

.styl_insc_scns_extr {
    display: none;
}

.styl_insc_txt_stkitc {
    font-style: italic;
    font-family: sitka;
}

.styl_insc_txt_stkblditc_17 {
    font-style: italic;
    font-weight: bold;
    font-family: sitka;
    font-size: 17px;
}

.styl_insc_txt_size_17 {
    font-size: 17px;
}

.styl_insc_txt_bld {
    font-weight: bold;
}

.styl_insc_txt_flow {
    font-family: calibri;
}
