.styl_insc_trms_nmbr_inl_00 {
    font-weight: bold;
    font-family: georgia;
    display: inline-block;
    white-space: pre;
}

.styl_insc_trms_div_grg {
    font-weight: bold;
    font-family: georgia;
    display: inline-block;
    white-space: pre;
}

.styl_insc_trms_defn {
    font-weight: bold;
    font-family: georgia;
    display: inline-block;
    white-space: pre;
}
