.styl_insc_trms_lttr_01 {
    font-family: cambria;
    font-size: 23px;
    font-weight: bold;
    display: inline-block;
    align-self: center;
}

.styl_insc_trms_prth_01 {
    font-family: sitka;
    font-style: italic;
    display: inline-block;
}
