.styl_offs_lft_73 {
    position: relative;
    margin-left: 73px;
}

.offs_lft_73 {
    position: relative;
    margin-left: 73px;
}

.styl_offs_lft_131 {
    position: relative;
    margin-left: 131px;
}

.styl_offs_dwn_43 {
    position: relative;
    margin-top: 43px;
}

.styl_offs_lft_47 {
    position: relative;
    margin-left: 47px;
}

.styl_offs_dwn_17 {
    position: relative;
    margin-top: 17px;
}

.styl_offs_dwn_23 {
    position: relative;
    margin-top: 23px;
}

.offs_lft_29_dwn_23 {
    position: relative;
    margin-left: 29px;
    margin-top: 23px;
}

.offs_dwn_17 {
    position: relative;
    margin-top: 17px;
}

.offs_dwn_23 {
    position: relative;
    margin-top: 23px;
}

.offs_dwn_31 {
    position: relative;
    margin-top: 31px;
}

.offs_dwn_47 {
    position: relative;
    margin-top: 47px;
}
