.styl_drct_cntn {
    position: relative;
    margin-left: 53px;
}

.styl_drct_name {
    font-size: 37px;   
}

.styl_drct_item {
    font-family: cambria;
    font-size: 23px;
}

.styl_drct_rcrd_if2 {
    padding-left: 41px;
    font-size: 17px;
    position: relative;
}

.styl_drct_head {
    font-size: 37px;
    padding-bottom: 5px;
}

.styl_drct_item_ttl {
    font-family: cambria;
    font-weight: bold;
}

.d_000_trnk {
    padding-left: 7px;
    font-size: 23px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 17px;
    padding-right: 23px;
    width: -moz-fit-content;
    width: fit-content;
}

.d_000_fldr {
    padding-left: 41px;
    font-size: 17px;
    position: relative;
    margin-bottom: 17px;
    margin-top: 17px;
    margin-left: 23px;
    padding-right: 23px;
    outline: 1px solid grey;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.d_000_item {
    padding-left: 41px;
    font-size: 17px;
    position: relative;
    margin-bottom: 3px;
    margin-top: 3px;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
}

.d_000_tab {
    white-space: nowrap;
}

.d_000_ttl {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
}

.d_000_name {
    font-family: cambria;
    font-weight: bold;
    font-size: 23px;
}
