.styl_stm_bmp_top {
    display: none;
}

.styl_stm_nmtg {
    font-size: 37px;
    display: flex;
    white-space: pre;
}

.styl_stm_trstlbrd {
    padding-left: 73px;
    margin-top: 17px;
    display: none;
}
.styl_stm_bmp_btm {
    display: none;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 7px;
}

.styl_stm_brnch_cntnr {
    margin-bottom: 17px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 47px;
    margin-right: 47px;
    margin-top: 23px;
    width: 100%;
    left: 23px;
    top: 3px;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_stm_brnch_cntnr:hover {
    border: 2.22px solid black;
}

.styl_stm_brnch_bmp_top {
    display: none;
    white-space: nowrap;
}

.styl_stm_brnch_nmtg {
    font-size: 37px;
    display: flex;
    white-space: pre;
}

.styl_stm_brnch_trstlbrd {
    padding-left: 73px;
    margin-top: 17px;
    display: none;
}

.styl_stm_brnch_bmp_btm {
    display: none;
    white-space: nowrap;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 7px;
}

.styl_stm_hide {
    border: 1px solid black;
    border-radius: 7px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    margin-bottom: 7px;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_stm_show {
    display: block;
    border: 1px solid black;
    border-radius: 7px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    margin-bottom: 7px;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_stm_ttl_spprt {
    text-decoration: underline;
    font-weight: bold;
}

.styl_stem_tail {
    text-align: center;
    padding-bottom: 23px;
}

.styl_stm_lst_exp_cntnr {
    position: relative;
    margin-top: 23px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 37px;
    margin-right: 11px;
    border: 1px solid black;
    border-radius: 7px;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_stm_lst_exp_cntnr:hover {
    border: 2.22px solid black;
}

.styl_stm_lst_exp_bmp_top {
    display: none;
}

.styl_stm_lst_exp_bmp_btm {
    display: none;
}

.styl_stm_lst_exp_bmp_cycl {
    display: block;
}

.styl_stm_lst_exp_trstlbrd {
    padding-left: 73px;
    margin-top: 17px;
    display: none;
}

.styl_stm_lst_exp_ttl {
    font-size: 37px;
    display: flex;
    white-space: pre;
    flex-wrap: nowrap;
    align-items: center;
}

.styl_stm_lst_exp_expnd {
    padding-top: 7px;
    display: block;
}

.styl_stm_lst_exp_ls_shrt {
    margin-left: 61px;
    margin-bottom: 29px;
    display: block;
}

.styl_stm_shrt_cntnr {
    margin-bottom: 17px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 47px;
    margin-right: 47px;
    width: 100%;
    left: 23px;
    top: 3px;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_stm_shrt_cntnr:hover {
    border: 2.22px solid black;
}

.styl_stm_shrt_bmp_top {
    display: none;
}

.styl_stm_shrt_bmp_btm {
    display: none;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 7px;
}

.styl_stm_shrt_nmtg {
    font-size: 31px;
    display: flex;
    white-space: pre;
}

.styl_stm_shrt_trstlbrd {
    padding-left: 73px;
    margin-top: 17px;
    display: none;
}

.styl_stm_lst_exp_nmtg {
    font-size: 37px;
    display: flex;
    white-space: pre;
    flex-wrap: nowrap;
    align-items: center;
}

.styl_stm_ttl {
    font-family: 'Times New Roman';
}

.stm_ttl {
    font-family: 'Times New Roman';
}

.stm_code {
    font-family: Inconsolata_SEB;
    font-weight: bold;
}

.styl_stm_twg_cntnr {
    margin-bottom: 17px;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 47px;
    margin-right: 47px;
    margin-top: 23px;
    width: 100%;
    left: 23px;
    top: 3px;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_stm_twg_cntnr:hover {
    border: 2.22px solid black;
}

.styl_stm_twg_nmtg {
    font-size: 37px;
    display: flex;
    white-space: pre;
}

.styl_stm_twg_trstlbrd {
    padding-left: 73px;
    margin-top: 17px;
}

.styl_stm_twg_bmp_btm {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 7px;
}

.styl_stm_bn2_cntnr {
    margin-bottom: 17px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 47px;
    margin-right: 47px;
    margin-top: 23px;
    width: 100%;
    top: 3px;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_stm_bn2_cntnr:hover {
    border: 2.22px solid black;
}

.styl_stm_bn2_bmp_top {
    display: none;
}

.styl_stm_bn2_nmtg {
    font-size: 37px;
    display: flex;
    white-space: pre;
}

.styl_stm_bn2_trstlbrd {
    padding-left: 73px;
    margin-top: 17px;
    display: none;
}

.styl_stm_bn2_bmp_btm {
    display: none;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 7px;
}

.styl_stm_brn_cntnr {
    margin-bottom: 17px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 47px;
    margin-right: 47px;
    margin-top: 23px;
    width: 100%;
    left: 23px;
    top: 3px;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_stm_brn_cntnr:hover {
    border: 2.22px solid black;
}

.styl_stm_brn_bmp_top {
    display: none;
    white-space: nowrap;
}

.styl_stm_brn_nmtg {
    font-size: 37px;
    display: flex;
    white-space: pre;
}

.styl_stm_brn_trstlbrd {
    padding-left: 73px;
    margin-top: 17px;
    display: none;
}

.styl_stm_brn_bmp_btm {
    display: none;
    white-space: nowrap;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 7px;
}

.styl_extn_trm_shrt {
    font-family: sitka;
    font-style: italic;
}

.styl_extn_trm_shrt_c {
    all: initial;
    font-size: 23px;
}
