.cite_cntnr {
    margin-top: 37px;
}

.cite_sbdt {
    font-weight: bold;
    font-family: cambria;
}

.cite_scns {
    left: 59px;
    position: relative;
}

.cite_flow {
    font-family: calibri;
}
