.styl_cncl {
    all: initial;
}

.styl_bknd_001 {
    font-size: 31px;
    padding-left: 17px;
    padding-right: 17px;
    display: inline-block;
    position: absolute;
}

.bknd_r {
    right: 0;
    align-self: self-end;
}

.styl_chut_cntnr {
    display: inline-block;
    font-family: calibri;
}

.un_bold {
    font-weight: normal;
}
