@font-face {
    font-family: carlito;
    src: url(/ls/000/code/fonts/carlito_regular.ttf)
}

@font-face {
    font-family: Inconsolata_SEB;
    src: url(/ls/000/code/fonts/Inconsolata_SEB.ttf)
}

.font_sitka {
    font-family: sitka;
    display: inline-block;
}

.font_cambria {
    font-family: cambria;
    display: inline-block;
}

.font_code {
    font-family: Inconsolata_SEB;
    font-weight: bold;
}
