.styl_cncl {
    all: initial;
}

.bknd_01 {
    font-size: 31px;
    padding-left: 17px;
    padding-right: 17px;
    display: inline-block;
    position: absolute;
}

.styl_chut_cntnr {
    display: inline-block;
    font-family: calibri;
}
