.styl_lf_bld {
    display: inline-block;
    overflow-wrap: anywhere;
}

.styl_lf_li_ext_bld {
    font-family: cambria;
    display: inline-block;
}

.styl_lf_li_ext {
    font-size: 23px;
}

.styl_lf_cntnr {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 7px;
    margin-left: 37px;
    align-items: flex-start;
    white-space: pre;
}

.styl_lf_lst_entr {
    flex-wrap: wrap;
    display: flex;
}

.styl_lf_protrusion {
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-start;
    white-space: pre;
    margin-top: 7px;
}
