@font-face {
    font-family: carlito;
    src: url(/ls/000/code/fonts/carlito_regular.ttf)
}

@font-face {
    font-family: Inconsolata_SEB;
    src: url(/ls/000/code/fonts/Inconsolata_SEB.ttf)
}

@font-face {
    font-family: Montserrat_ThinItalic;
    src: url(/ls/000/code/fonts/Montserrat_ThinItalic.ttf)
}

@font-face {
    font-family: Montserrat_Light;
    src: url(/ls/000/code/fonts/Montserrat_Light.ttf)
}

.font_sitka {
    font-family: sitka;
    display: inline-block;
}

.font_cambria {
    font-family: cambria;
    display: inline-block;
}
