.ins_line {
    border-left: 1px solid black;
}

.ins_trm_node_00 {
    font-weight: bold;
    font-family: cambria;
    font-size: 47px;
}

.ins_gmtr_calc {
    display: inline-block;
    font-family: cambria;
    font-weight: bold;
}

.ins_gmtr_rslt {
    display: inline-block;
    font-family: georgia;
    font-weight: bold;
    font-size: 21px;
}

