.styl_twig_brnch_cntnr {
    margin-bottom: 67px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 47px;
    margin-right: 47px;
    margin-top: 17px;
    width: 100%;
    left: 23px;
    top: 3px;
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_twig_brnch_cntnr:hover {
    border: 1.11px solid black;
    border-radius: 5px;
}

.styl_twig_brnch_nametag {
    font-size: 37px;
    display: flex;
    white-space: pre;
}

.styl_twig_brnch_trstlbrd {
    padding-left: 73px;
    margin-top: 17px;
}
