.styl_lf_bld {
    display: inline-block;
    overflow-wrap: anywhere;
}

.styl_lf_li_ext_bld {
    font-family: cambria;
    display: inline-block;
}

.styl_lf_li_ext {
    font-size: 23px;
}

.styl_lf_cntnr {
    flex-wrap: nowrap;
    margin-bottom: 7px;
    align-items: flex-end;
    white-space: pre;
}

.styl_lf_lst_entr {
    flex-wrap: wrap;
    display: flex;
}

.styl_lf_protrusion {
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-start;
    white-space: pre;
    margin-top: 7px;
}

.styl_lf_stm_olst_exp {
    position: relative;
    left: 23px;
    margin-top: 23px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    margin-right: 11px;
    border: 1px solid black;
    border-radius: 7px;
    width: -moz-fit-content;
    width: fit-content;
}

.styl_lf_stm_olst_exp:hover {
    border: 2.22px solid black;
}

.styl_lf_stm_olst_exp_bmp_top {
    display: none;
}

.styl_lf_stm_olst_exp_bmp_btm {
    display: none;
}

.styl_lf_stm_olst_exp_ttl {
    font-size: 37px;
    display: flex;
    white-space: pre;
    flex-wrap: nowrap;
    align-items: center;
}

.styl_lf_stm_olst_exp_cntn {
    padding-top: 7px;
    padding-left: 43px;
    display: none;
}

.styl_lf_stm_olst_exp_ls_shrt {
    margin-left: 29px;
    margin-bottom: 29px;
}
