.algn_itm_cntr {
    align-items: center;
}

.algn_itm_rg {
    align-items: flex-end;
}

.algn_txt_cn {
    text-align: center;
}

.algn_y_up_23 {
    margin-bottom: 23px;
}

.algn_x_lf_53 {
    margin-left: 53px;
}

.flx_cntr {
    display: flex;
    align-items: center;
}

.styl_flx_inline {
    display: inline-flex;
}
