.styl_in_txt {
    flex-wrap: nowrap;
    display: flex;
}

.in_txt_cntrd {
    text-align: center;
}

.in_txt_headr_01 {
    font-size: 31px;
    font-weight: bold;
}

.styl_in_txt_bld {
    font-weight: bold;
    display: inline-block;
}

.styl_in_txt_code {
    font-family: Inconsolata_SEB;
    font-weight: bold;
}

.styl_in_txt_emph {
    font-style: italic;
}

.styl_in_txt_undr {
    text-decoration: underline;
    display: inline-block;
}

.styl_main_term {
    font-weight: bold;
    font-family: cambria;
    font-size: 19px;
    display: inline-block;
    white-space: pre;  
}

.styl_in_txt_inlineterm_01 {
    font-weight: bold;
    font-family: cambria;
    font-size: 17px;
    display: inline-block;
    white-space: pre;
}

.styl_in_arm {
    display: inline-block;
}

.styl_in_exp_cntnr {
    left: 7px;
    position: relative;
    margin-bottom: 37px;
}

.styl_in_btmbmp {
    margin-bottom: 17px;
}
