.styl_insc_scns {
    padding-left: 31px;
    padding-right: 31px;
    position: relative;
}

.styl_insc_scns_1 {
    left: -4.5px;
    position: relative;
}

.styl_scns_chut_1 {
    left: 31px;
    position: relative;
    border-left: 1.37px solid black;
}

.styl_insc_txt {
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 17px;
    width: 677px;
    text-wrap: balance;
}

.styl_insc_txt_undr {
    text-decoration: underline;
    display: inline-block;
}

.styl_insc_txt_trm_grg {
    font-weight: bold;
    font-family: georgia;
}

.styl_insc_txt_trm_stkbld {
    font-weight: bold;
    font-family: sitka;
}

.styl_insc_txt_trm_stkitc_19 {
    font-style: italic;
    font-family: sitka;
    font-size: 19px;
}

.styl_insc_txt_xtroff_131 {
    position: relative;
    margin-left: 131px;
}

.styl_insc_scns_extr {
    display: none;
}

.styl_insc_txt_stkitc {
    font-style: italic;
    font-family: sitka;
}

.styl_insc_txt_stkblditc_17 {
    font-style: italic;
    font-weight: bold;
    font-family: sitka;
    font-size: 17px;
}

.styl_insc_txt_size_13 {
    font-size: 13px;
}

.styl_insc_txt_size_17 {
    font-size: 17px;
}

.styl_insc_txt_size_19 {
    font-size: 19px;
}

.styl_insc_txt_size_23 {
    font-size: 23px;
}

.styl_insc_txt_bld {
    font-weight: bold;
}

.styl_insc_txt_flow {
    font-family: calibri;
}

.styl_insc_txt_itc {
    font-style: italic;
}

.styl_insc_txt_fnt_cmbria {
    font-family: cambria;
}

.styl_insc_txt_topline_cntrd {
    display: flex;
    align-items: center;
    white-space: pre;
}

.styl_insc_txt_23px {
    font-size: 23px;
}

.styl_insc_itr {
    font-family: georgia;
    font-weight: bold;
}

.i_nmbr_01_itr {
    font-family: georgia;
    font-weight: bold;
    font-size: 19px;
}

.i_nmbr_01_nmb {
    font-family: Cambria;
    font-weight: bold;
    font-size: 37px;
}

.size_23px {
    font-size: 23px;
}

.size_17px {
    font-size: 17px;
}

.txt_fnt_stka {
    font-family: sitka;
}

.styl_insc_quot_cntn {
    display: inline-grid;
    grid-template-columns: 1fr 17fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 11px;
    width: 811px;
}

.styl_insc_quot_wrds {
    white-space: normal;
    width: 777px;
    font-family: sitka;
    font-size: 31px;
    display: inline-grid;
    margin-left: 47px;
}

.styl_insc_itrt_001 {
    font-family: georgia;
    font-size: 23px;
    font-weight: bold;
}
