.styl_insc_scns {
    display: none;
    left: 31px;
    position: relative;
}

.styl_insc_dfin_cntn {
    font-style: italic;
    font-family: sitka;
}

.styl_insc_txt_trm_grg {
    font-weight: bold;
    font-family: georgia;
}

.styl_insc_txt_trm_stkitc13 {
    font-style: italic;
    font-family: sitka;
    font-size: 13px;
}
