.styl_insc_trms_lttr_01 {
    font-family: cambria;
    font-size: 23px;
    font-weight: bold;
    display: inline-block;
    align-self: center;
}

.styl_insc_trms_prth_01 {
    font-family: sitka;
    font-style: italic;
    display: inline-block;
}

.styl_insc_trms_phrs_01 {
    font-family: sitka;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
}

.styl_insc_trms_phrs_02 {
    font-family: sitka;
    font-weight: bold;
    display: inline-block;
}

.styl_insc_trms_li_00 {
    font-weight: bold;
    font-family: cambria;
    font-size: 23px;
    display: inline-block;
    white-space: pre;
}

.styl_insc_trms_nmbr_inl_00 {
    font-weight: bold;
    font-family: georgia;
    display: inline-block;
    white-space: pre;
}

.styl_insc_trms_div_grg {
    font-weight: bold;
    font-family: georgia;
    display: inline-block;
    white-space: pre;
}

.styl_insc_trms_defn {
    font-weight: bold;
    font-family: georgia;
    display: inline-block;
    white-space: pre;
}
